<blockquote class="question">What is Foundry Virtual Tabletop?</blockquote>
<p>Foundry Virtual Tabletop (FVTT for short) is an application built specifically for experiencing multiplayer tabletop roleplaying games with your friends and party members over the internet. FVTT works using modern web technologies where one player (the host) runs an application which hosts the game server and other players can connect using a web browser. As a "virtual tabletop", the software provides a set of digital tools which are designed to imitate and expand upon the experience of playing a game in-person with your friends. Support for character sheets, rolling dice, exploring battlemaps, and moving heroic tokens are just a few of the many features which enable this experience. Foundry Virtual Tabletop goes well beyond the basic feature set, however, with rich dynamic lighting, fog of war, audio playlists, video chat using webcams, and way more. FVTT gives you everything you need (and then some) to forge thrilling and memorable moments with your gaming group!</p>

<blockquote class="question">When did Foundry Virtual Tabletop release? What is the history of the project?</blockquote>
<p>Foundry Virtual Tabletop officially released on <strong>Friday, May 22</strong>. Development of the software began in August, 2018 and software was in pre-alpha development from August 2018 through November 2018 with closed Alpha testing until February 2019. From February 2019 until May 2020 the software was in closed Beta testing with a large and dedicated community actively working together to get the software ready for release. The beta testing process is now over and the software is available for purchase.</p>

<blockquote class="question">Why are you creating this software?</blockquote>
<p>I love tabletop gaming, and I am a believer in the power of digital tools to expand and improve roleplaying. I love how software can break down geographic barriers to allow you to play games with friends all over the world, and I love how technology can create memorable and tactical experiences with the incorporation of beautiful artwork, music, and effects which are not possible at a physical table.</p>
<p>Despite my love for this space, I was feeling let down by existing tools. I either didn't like their feature set, or their business model, or their user experience - it seemed to me like there should be something better. Modern web technologies have allowed for me to create a software which I believe is more flexible, feature-rich, and offers a very high quality of user experience. This project has been a passion of mine for the past 2 years and I feel very fulfilled in how it has grown, the progress it has made, and the incredible growth of the community which has rallied behind it.</p>
<p>My primary investment in this project is not as a business venture but rather as a fan of the tabletop gaming genre and a dungeon master who loves creating rich experiences for players. I believe the tabletop RPG community deserves better from its software and I want to contribute towards that by creating technology that I would love to use and I think there&rsquo;s a lot of opportunity for my work to benefit the gaming community.</p>

<blockquote class="question">What does this cost? What is your business model?</blockquote>
<p>Individual licenses for Foundry Virtual Tabletop are sold for $50 USD. Each individual license will allow a game master to host games for unlimited players (who do not need to purchase the software). There is only one type of license, which includes all of the Foundry Virtual Tabletop core features - there are no premium tiers, special editions, or season passes. Future updates to the core software will be made available (for free) to all license owners. You can learn more about <a title="Purchasing Foundry Virtual Tabletop" href="../purchasing" target="_blank" rel="nofollow noopener">purchasing Foundry Virtual Tabletop</a> here.</p>
<p>In addition to the sale of licenses, I will keep my Patreon page active for community members who wish to show additional support after launch. Patreon will not be required to access any software features, and instead will only offer some minor additional perks like access to private Discord channels, bonus content that can be imported into Foundry VTT, and collaboration projects with other tabletop RPG artists and creators. Exact details of what post-launch Patreon membership benefits will be are not yet determined and will be announced closer to release.</p>

<blockquote id="whytax" class="question">Why am I being charged sales tax to purchase Foundry Virtual Tabletop?</blockquote>
<p>Foundry Gaming LLC is a limited liability corporation registered in the State of Washington and is <a title="Washington State Sales Tax Rules" href="https://dor.wa.gov/get-form-or-publication/publications-subject/tax-topics/digital-products-including-digital-goods" target="_blank" rel="nofollow noopener">required to collect sales tax</a> on digital products sold to customers in the State of Washington, in the European Union (<a href="https://europa.eu/youreurope/business/taxation/vat/vat-digital-services-moss-scheme/index_en.htm" title="EU VAT on Digital Goods" target="_blank">VAT</a>), or in other US states and international countries where the number of Foundry Virtual Tabletop license sales exceeds an minimum threshold to require sales tax collection.</p>

<p>If you believe you are being charged an incorrect amount of sales tax please reach out to admin@foundryvtt.com with your concerns and I will do my best to address them.</p>

<blockquote id="how-apply-license" class="question">How do I apply a purchased Foundry Virtual Tabletop software License?</blockquote>

<p>Normally, when you start the Foundry Virtual Tabletop software for the first time, it will prompt you to enter your license key. Once you have entered your License key, you will be prompted to sign the End User License Agreement (EULA) which connects with the Foundry license server to verify your license key.</p>

<p>Performing this License verification requires you to be connected to the internet and on a network which allows connections to external sites. If you are having trouble with the EULA agreement, make sure you are not on a VPN or other special network which blocks Foundry from communicating with the license server.</p>

<p>If you previously had access to the software through Patreon, but have since purchased a full License, you will need to remove your existing Beta license file so that the software will prompt you to enter a new license key. To delete your existing license file, navigate to your user data directory and delete the file <code>{userData}/Config/license.json</code>. The next time you start Foundry Virtual Tabletop it will prompt you to enter a new license key.</p>


<blockquote id="hardware" class="question">What are the hardware requirements to use Foundry VTT?</blockquote>
<p>It is not possible to share exact hardware requirements for the software because performance of the application depends heavily on the type of content and features that are used within a World. As a general rule of thumb for common usage patterns, the following hardware would be recommended:</p>
<h4 id="requirements">Minimum Requirements</h4>
<ul>
	<li>Relatively modern computer running Windows 10, MacOS, or Linux operating systems with support for 64 bit architecture.</li>
	<li>An integrated GPU to enable hardware acceleration.</li>
	<li>8GB of RAM</li>
	<li>A monitor no smaller than 1366x768. At this minimum resolution many aspects of the UI will feel cramped.</li>
	<li>[For Players] A modern web browser like Chrome, Firefox, Opera, or Edge with hardware acceleration enabled.</li>
</ul>
<p class="note warning">Safari is not listed as it lacks certain modern web APIs which other browsers have enabled. Depending on which game system and modules you use, you may or may not encounter issues with Safari. It is recommended to instead use Chrome or Firefox on MacOS.</p>

<h4 id="recommended">Recommended Hardware</h4>
<ul>
	<li>A discrete GPU for better rendering performance of large maps.</li>
	<li>A monitor with 1920x1080 or higher resolution.</li>
	<li>A mouse. You can use the software with a touchpad but the current software is designed for mouse and keyboard.</li>
</ul>
<h4 id="internet">Internet Requirements</h4>
<ul>
	<li>To self-host using Foundry VTT you will need an internet service provider which allows port-forwarding via IPv4 or provides an IPv6 address which does not require forwarding.</li>
	<li>To self-host using Foundry VTT an internet upload speed of at least 5MB/s is recommended since the host needs to transfer image, video, or audio assets to connected players. For hosts with slow upload speeds, serving your media files from a cloud storage location will avoid this limitation.</li>
	<li>To play in a Foundry VTT game, a download speed of at least 1 MB/s is recommended in order to load image, video, or audio assets with reasonable performance.</li>
</ul>
<p class="note">Hardware requirements are the same for both players and for the Gamemaster.</p>

<blockquote class="question">Can I use this software to run in-person games with one view for the Gamemaster and another shared view for players?</blockquote>
<p>Yes, Foundry Virtual Tabletop works great for this use case. Running the application or the Node.js server allows you to host the game from the Gamemaster perspective, and you can simply use a web browser to connect to your own game to broadcast a player view for your table.</p>

<blockquote class="question">I have created a Module or System that I would like to share. How can I have it added to this list?</blockquote>
<p>Currently the on-boarding process for Modules and Systems requires a manual review and approval. If you are interested in having your work featured here please reach out to Atropos on Discord or via email to admin@foundryvtt.com.</p>
<hr/>

<h2>Older FAQs from Beta</h2>
<p class="note warning">The following FAQs are no longer relevant for the current state of Foundry VTT, but will be kept on the website for a time.</p>

<blockquote class="question">Will worlds or content created using the Beta build be valid for use once the release is made available?</blockquote>
<p>Yes. All your content or creations will carry forward. I do not anticipate any significant issues with changes that break backwards compatibility. Please feel empowered to begin creating worlds that you plan to use for a long time!</p>

<blockquote class="question">How frequently do the software updates occur?</blockquote>
<p>During the pre-launch testing phases since the beginning of Alpha testing in 2018 there is been a pace of new update releases on average every 10-14 days. As the software approaches launch, the pace of updates has slowed slightly in order to be more cautious about introducing new bugs or regressions. During the remaining months until release a large focus is on stability, bug fixes, and UX improvements - but updates will still happen regularly during that time. You can view the full set of historical <a title="Release Notes" href="../../../../../releases" target="_blank" rel="nofollow noopener">Release Notes</a> to see data on past releases.</p>
<p>After release, updates will occur in 3 channels: release, candidate, and beta. Most Foundry VTT players will use the "release" channel as it will have stable updates which have been tested to be (hopefully) bug free. The "candidate" channel will be useful for players who can accept a bit more risk and want to get their hands on new and exciting features a bit faster, while the "beta" channel will include frequent updates that could be less stable.</p>

<blockquote class="question">Will there be an open beta that is available to anyone, free of charge?</blockquote>
<p>Not at this time. My plans are to only do a closed beta for Patreon supporters until the full software release. There is a publicly accessible software demo which you can reach from the navigation bar at the top of this page.</p>
